{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block header %}
  <h1>{% block title %}Welcome to the Asset App{% endblock %}</h1>
{% endblock %}

{% block content %}
  <p>This is a Python Flask web application to help keep track of who an IT asset has been assigned to.
  <br> 
  <b> Please note, this is a dummy / test system. No live or real data is in the system.</b></p>
  <br>
  {% if current_user.is_authenticated %}
    {{ wtf.quick_form(form) }}
  {% endif %} 
{% endblock %}


