<!doctype html>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<nav>
  <h1>GeekTechStuff Flask</h1>
  <ul>
    <li><a href="{{ url_for('test.index') }}">Index</a></li>
    {% if g.user %}
    <li><span>{{ g.user['username'] }}</span></li>
    <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
    {% else %}
    <li><a href="{{ url_for('test.register') }}">Register</a></li>
    <li><a href="{{ url_for('auth.login') }}">Login</a></li>
    {% endif %}
  </ul>
 </nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
    {% block content %}{% endblock %}
</section>