{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Assets - User Password{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Change Password</h1>
</div>
<div class="col-md-4">
    You are currently logged in as {{ current_user.username }}. <br>
    {% if current_user.is_admin is sameas true %}
    You are an admin user.
    {% endif %}
    {% if current_user.is_admin is sameas false %}
    You are a regular user.
    {% endif %}
</div>
<div class="col-md-4">
    {{ wtf.quick_form(form) }}
    <br>
</div>
{% endblock %}